@charset "utf-8";

@function bgUrl($url) {
  @return '../../style/img/' + $url+'.png'
}

:global {
  //.ant-btn:hover {
  //  background: #3cb3ff !important;
  //}

  .hover:hover {
    background: #555 !important;
  }
  .icon-button {
    float: left;
    width: 15px;
    height: 18px;
    background-repeat: no-repeat;
  }

  .operationButton {
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .oper-btn-content {
    display: flex;
    align-items: center;
  }

  .icon-console {

    background-image: url(bgUrl('console'));
  }
  .icon-logout {
    background-image: url(bgUrl(logout));
  }

}